@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DAECF4;
  --foreground: #1F282D;
  --heading: #A87B21;
  --star-color: hsl(199, 20%, 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F282D;
    --foreground: #CADCE4;
    --heading: #D8AB51;
    --star-color: hsl(199, 20%, 42%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  @apply sm:text-[1.2rem];
}

h1,
h2,
h3 {
  font-family: var(--font-genos);
}

a {
  @apply text-sky-600;
  @apply dark:text-blue-400;
  @apply hover:underline;
  @apply hover:underline-offset-4;
}

.font-genos {
  font-family: var(--font-genos);
}

/* @keyframes appear {
  from {
    opacity: 0;
    transform: scale(90%) translateY(10%);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

section {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
} */